<div class="modal" tabindex="-1" role="dialog" id="rateModal{{ movie.id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #212121;">{{ movie.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="POST" action="{{ url_for('rate_movie_action') }}">
            <input type="hidden" id="postId" name="movie_id" value="{{ movie.id }}">
          <div class="modal-body">
              <label  for="movie_rate" style="color: #212121;">Rate</label>
              <input type="range" id="movie_rate" name="movie_rate" min="0" max="10" oninput="movie_rate_output.value = movie_rate.value">
              <output name="movie_rate_output" id="movie_rate_output" style="color: #212121;">5</output>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Rate</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
    </div>
  </div>
</div>