{% extends 'layout.html' %}

{% block title %}Movie Rating App{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form method="get">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="query"/>
                    <a class="btn btn-primary" href="{{ url_for('index_page') }}" role="button">Clear</a>
{#                  <span class="input-group-text border-0" id="search-addon">#}
{#                    <i class="fas fa-search"></i>#}
{#                  </span>#}
                </div>
            </form>
            <table class="table" style="color:white;">
                <thead><tr>
                    <th scope="col">ID</th>
                    <th scope="col">Movie</th>
                    <th scope="col">Year</th>
                    <th scope="col">Rating</th>
                    {% if current_user.is_authenticated %}
                        <th scope="col">My Rate</th>
                    {% endif %}
                </tr></thead>

            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.avgrate }}</td>
                    {% if current_user.is_authenticated %}
                        {% include 'modals/rate.html' %}
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rateModal{{ movie.id }}">
                            Rate
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-2"></div>
    </div>

{% endblock %}